.pulse {
    opacity: 1;
    transition: 0.3s;
    color: purple;
}

.pulse.remove_pulse {
    opacity: 0.2;
}

div {
    font-family: roboto, sans-serif;
    max-width: 80%;
    margin: 20px auto;
    font-size: 60px;
    letter-spacing: 1px;
}

.cursor {
    opacity: 0;
    transition: .2s;
}


.cursor.active {
    opacity: 1;
}
